| 
|    ATTENTION : Ce mail ne sera pas ré-envoyé !
|
|    (NB : Ceci est la version TEXTUELLE du mail, préférez la version HTML)
|
|    ---
|
|    Vous être administrateur du vote sécurisé suivant : #{title}
|
|    ---
|
| Voici le lien permettant de gérer le vôte, il est confidentiel et unique. Il faut donc le conserver précieusement jusqu'à la fin du vôte.
|
| Gérer le vôte #{url}
