|   ATTENTION : Ce mail ne sera pas ré-envoyé !
|
|   (NB : Ceci est la version TEXTUELLE du mail, préférez la version HTML)
|
|   ---
|   Bonjour #{name},
|
|   Vous avez été invité.e à participer au vote #{title}.
|
|   ---
|
|   Pour participer à ce vote rendez-vous sur le lien ci-dessous, seul ce lien peut vous permettre d'accéder au vote.
|
|   /!\ Ce lien est confidentiel et vous identifie en tant que votant, ne surtout pas le partager /!\
|
|   #{url}